.site-footer, #push {
        height: 580px;
    }
.site-footer {
    
    .txt p {
        color: $gray-txt;
           @include font-size(15px);
    }

    .top-border {
        border-top:2px solid #e1e1e1;
        margin-top: 30px;
    }
    
    h4 {
        @include font-size(20px);
        color: $crest-green;
    }
    
 background-color:#fff;
    margin-top: 30px;

    .pull-right {
        float:left !important;
       margin-left: 10px;
        margin-top: 20px;
         @include respond-to($screen-sm) {
             margin-right: 120px;
              margin-left: 45px;
              margin-top: 75px;
             float:right !important;
         }
        
        .btn {
            height: 60px;
line-height: 60px;
        }
    }
    
    .site-info {
    
         margin: 0 auto;
        //text-align: center;
        
          @include respond-to($screen-sm) {
             margin:0px;
             text-align: left;
         }
    }
    
    .copyright {
        margin-top: 40px;
        color: #b4b3b3;

    }
    
   
}


