.site-footer, #push {
        height: 580px;
    }
.site-footer {
    
    .txt p {
        color: $gray-txt;
           @include font-size(15px);
    }

    .top-border {
        border-top:2px solid #e1e1e1;
        margin-top: 30px;
    }
    
    h4 {
        @include font-size(20px);
        color: $crest-green;
    }
    
 background-color:#fff;
    margin-top: 30px;

    .pull-right {
        float:left !important;
       margin-left: 10px;
        margin-top: 20px;
         @include respond-to($screen-sm) {
             margin-right: 120px;
              margin-left: 45px;
              margin-top: 75px;
             float:right !important;
         }
        
        .btn {
            height: 60px;
line-height: 60px;
        }
    }
    
    .site-info {
    
         margin: 0 auto;
        //text-align: center;
        
          @include respond-to($screen-sm) {
             margin:0px;
             text-align: left;
         }
    }
    
    .copyright {
        margin-top: 40px;

    }
    
    ul {margin: 0; padding: 0; list-style: none;}
    ul.share-icons li {
        list-style: none;
        display: inline-block;
        margin-right: 25px;
        margin-top: 20px;
        
        a {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            color: transparent;
            display: inline-block;
        }
       
        &.facebook a {        
            background: url("../images/icon-facebook.png") no-repeat;
            @include image-2x("../images/icon-facebook@2x.png",10px, 20px);
        }
        
        &.twitter a {        
            background: url("../images/icon-twitter.png") no-repeat;
            @include image-2x("../images/icon-twitter@2x.png",23px, 18px);
        }
        
        &.google-plus a {        
            background: url("../images/icon-google.png") no-repeat;
            @include image-2x("../images/icon-google@2x.png",21px, 21px);
        }
        
        &.email a {        
            background: url("../images/icon-email.png") no-repeat;
            @include image-2x("../images/icon-email@2x.png",19px, 19px);
        }
        
         &.dalles-chamber a {        
            background: url("../images/icon-dalles.png") no-repeat;
            @include image-2x("../images/icon-dalles@2x.png",122px, 96px);
        }
        
        &.dalles-port a {        
            background: url("../images/icon-port.png") no-repeat;
            @include image-2x("../images/icon-port@2x.png",271px, 49px);
        }
    }
}

