
/* NAVIGATION */
.navbar {
	margin-bottom: 0px;
    min-height: 78px;
    
    @include respond-to($screen-sm) {
        min-height: 155px;
          min-width: 900px;
    }
    
    .container {
//        max-width: 1500px;
//        margin: 0 auto;
    }
}

.navbar-default {
    background-color: #fff;
   -webkit-font-smoothing: subpixel-antialiased;
    .close-btn-mobile {
          background: url("../images/icon-menu-close.png") no-repeat;
    @include image-2x("../images/icon-menu-close@2x.png", 48px, 48px);
        position: absolute;
        right:16px;
        text-indent: 200%;
        white-space: nowrap;
       top:16px; 
        z-index: 10000;
      
        display: block;
    }
      
  
    .navbar-nav>.active>a,  .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus,  .navbar-nav>li.current-page-ancestor>a,  .navbar-nav>li.current-menu-ancestor>a {
     color: #fff;
         
           @include respond-to($screen-sm) {
                color: $crest-green;
           }
    }
    
    .navbar-nav>li>a {
        
             -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
        
        font-size: 30px;
         color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px;
        font-family: $title-font-narrow;
        line-height: 30px;
        padding-top: 15px;
        padding-bottom: 0px;
        
        @include respond-to($screen-sm) {
            color:$black-txt;
            @include font-size(18px);
            margin-bottom: 0px;
             padding-top: 0px;
        }
    }
    
    .with-gutter {
        padding-right: 15px;
    }
    
    .caret {
        background: url("../images/nav-caret.png") no-repeat;
        @include image-2x("../images/nav-caret@2x.png", 7px, 11px);
        
        @media screen and (max-width: 768px) {
              background: url("../images/icon-arrow-white.png") no-repeat;
        @include image-2x("../images/icon-arrow-white@2x.png", 8px, 5px);
             display: inline-block;
        }
          
        display: inline-block;
        border: 0px;
         width:10px;  
        margin-left: 6px;
        margin-top: -2px;
    }
    
    
    
    .current-menu-parent .caret, .navbar-nav>li>a:hover .caret, .navbar-nav>li>a:focus  .caret,  .navbar-nav>.active>a:hover .caret,  .navbar-nav>.active>a:focus .caret {
         background: url("../images/nav-caret-green.png") no-repeat;
    @include image-2x("../images/nav-caret-green@2x.png", 7px, 11px);
        
        @media screen and (max-width: 768px) {
              background: url("../images/icon-arrow-white.png") no-repeat;
        @include image-2x("../images/icon-arrow-white@2x.png", 8px, 5px);
             display: inline-block;
        }
        
        display: inline-block;
        border: 0px;
         width:10px;
           @include transition($transition200);
    }
    
    
      .navbar-nav>li>a:hover .caret,  .navbar-nav>.active>a:hover .caret,  .navbar-nav .dropdown.hover> a .caret,  .navbar-nav>.active>a .caret, .navbar-nav>li.current-page-ancestor>a .caret, .navbar-nav>li.current-menu-ancestor>a .caret    {
            @include respond-to($screen-sm) {
         background: url("../images/nav-caret-over.png") no-repeat;
        @include image-2x("../images/nav-caret-over@2x.png", 10px, 6px);
                
        @media screen and (max-width: 768px) {
              background: url("../images/icon-arrow-white.png") no-repeat;
        @include image-2x("../images/icon-arrow-white@2x.png", 8px, 5px);
             display: inline-block;
        }        
                
          display: inline-block;
         border: 0px;
       // margin-top: 2px;
            }
     
    }
    
    .open .caret {
           background: url("../images/nav-caret-over.png") no-repeat;
        @include image-2x("../images/nav-caret-over@2x.png", 10px, 6px);
        
        @media screen and (max-width: 768px) {
              background: url("../images/icon-arrow-white.png") no-repeat;
        @include image-2x("../images/icon-arrow-white@2x.png", 8px, 5px);
             display: inline-block;
        }
        
          display: inline-block;
         border: 0px;
        //margin-top: 2px;
       
    }
    
     .navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .dropdown.hover > a {
           color: #fff;
         
           @include respond-to($screen-sm) {
                color: $crest-green;
           }
    }
        
    
    
    .navbar-nav>.open>a,  .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus, li.current-menu-parent > a,   .navbar-nav>.active>a,  .navbar-nav>.active>a:hover,  .navbar-nav>.active>a:focus   {
        
         background:$crest-green;
         color:#fff;
          @include respond-to($screen-sm) {
                  color: $crest-green;
                background: #fff;
           }
        
     
    }
    
    
    

    
    .dropdown-menu {
      

        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
        float: none;
        
        
        @include respond-to($screen-sm) {
            color: #fff;
             background: $crest-green;
            box-shadow: none;
            border: none;
            border-radius: 0px;
            left: auto;
            right: -13px;
           display: none;
            min-width: 180px;
                position:absolute;
         }
        
        
       
        
        li>a {
           
              -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
            
            
            font-size: 18px;
            margin-bottom: 5px;
             font-family: $title-font;
             color: #fff;
             @include respond-to($screen-sm) {
                    font-size: 15px;
                   margin-bottom: 0px;
                  font-family: $font-family-sans-serif;
             }
        }
        
         
        
        &>li>a:hover,&>li>a:focus {
            background-color:  $crest-green;
              color:#fff;
             @include respond-to($screen-sm) {
              color:$black-txt;
             }
        }
        
        
        
        &>.active>a, &>.active>a:hover, &>.active>a:focus {
              background-color: $crest-green;
              color:#fff;
              @include respond-to($screen-sm) {
              color:#fff;
             }
        }
        
        a {
            color:#fff;
        }
        
          @include respond-to($screen-sm) {
        &:before {
               content: "\A";
    border-style: solid;
    border-width: 0 17px 13px 17px;
    border-color: transparent transparent #03b555 transparent;
    position: absolute;
    right: 18px;
    top: -10px;
        }
          }
    }
    
     .navbar-push-left.in  .dropdown-menu {
         display: none;
         
          @include respond-to($screen-sm) {
            display: none;
          }
    }
    
    .open>.dropdown-menu {
        display: block !important;
    }
    
    li.current-menu-parent .dropdown-menu>a, li.current-page-ancestor .dropdown-menu .current-page-parent a, li.current-menu-ancestor .dropdown-menu .current-menu-parent a{
          background:$crest-green;
         color:$black-txt;
    }
    
    
    
     li.project-updates, li.project-updates.active {
            background: #fff;
            margin-top: 15px;
         
         a {
            color: $red-txt;
            padding-top: 26px;
            padding-bottom: 20px;
              background: #fff;
           
            &:hover {color: $red-txt;}
         }
         @include respond-to($screen-sm) {
                 margin-top: 0px;
             a, &>a, &>a:hover {color: $black-txt;
                background: url("../images/icon-nav-cone.png") no-repeat;
                @include image-2x("../images/icon-nav-cone@2x.png",30px, 30px);
                width: auto;
                height: auto;
                background-position-y: 10px;
                background-position: left center;
                height: auto;
                text-indent: 20px;
                margin-left: 10px;
                   padding-top: 0px;
                padding-bottom: 0px;
                 
                 &:hover {color: $crest-green;}
             }
             }
        }
    
    .navbar-nav>.active.project-updates  {
        @include respond-to($screen-sm) {
                
             a, &>a, &>a:hover {
                 color:$crest-green;
                  background: url("../images/icon-nav-cone.png") no-repeat;
            @include image-2x("../images/icon-nav-cone@2x.png",30px, 30px);
             width: auto;
             height: auto;
             background-position-y: 10px;
                 background-position: left center;
            height: auto;
            text-indent: 20px;
            margin-left: 10px;
                 &:hover {color: $crest-green;}
             }
             }
    }

    
    
    
}


  body:not(.mobile) .dropdown:hover .dropdown-menu {
       display: block;
         @include respond-to($screen-sm) {
            display: block;
         }
    }


.navbar-push {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
 
    
}

a.navbar-brand {
      background: url("../images/logo.png") no-repeat;
    @include image-2x("../images/logo@2x.png", 93px, 58px);
    display: block;
     text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
    margin-left: 14px;
    margin-top: 11px;
    position: relative;
    left:14px;
    
     @include respond-to($screen-sm) {
        margin-left: 48px !important;
          margin-top: 20px;
           background: url("../images/logo-desktop.png") no-repeat;
        @include image-2x("../images/logo-desktop@2x.png",185px, 114px);
         left:0px;
    }
}

 .navbar-fixed-top {
    
       border-bottom: solid $gray-border 1px;
      @include respond-to($screen-sm) {
       position: fixed;
    }
   
}



.navbar-nav {
     
      margin-top: 65px;
    
     @include respond-to($screen-sm) {
        float: right;
         margin-top: 110px;
       
     }
    
//       @include respond-between($screen-sm,847px) {
//        float: right;
//         margin-top: 10px;
//     }
    
    
   
    
    
    }

#search-form {
    display: none;
    
    
    margin-top: 0px;
    width: 350px;
    position: fixed;
    right: 0px;
    top:0px;
    z-index: 10000;
    
      @include respond-to($screen-sm) {
           display: block;
        }

div {
    padding: 5px 0;
    width: 330px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    
    input.s {
        position: absolute;
        width: 0px;
        top:0px;
        float: Left;
        text-transform: uppercase;
        margin-left: 310px;
         font-family: $title-font-narrow;
       @include transition($transition200);
        @include font-size(18px);
        height: 60px;
       // line-height: 18px;
        padding: 0 2px 0 8px;
        border-radius:0px;
        box-shadow: none;
        border: 1px solid  $crest-green;
       
    }
    
    &:hover input.s,  input.s:focus {
            width: 300px;
            margin-left: 0px;
        }
    
}

   
    .btn {
        height: 60px;
        width: 60px;
        position: absolute;
        right: -10px;
        top: 0px;
        border-radius:0px;
        background-color: $crest-green;
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-image: url(../images/icon-search.png);
        background-repeat: no-repeat;
        cursor:pointer;
        border: none;
        background-position: center;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @include transition($transition200);
            
        &:hover, &:focus {
            box-shadow: none;
               background-color: $crest-green;
            -webkit-filter:brightness(1.1);
            -moz-filter:brightness(1.1);
            filter: brightness(1.1)
        }
    }
}


@media screen and (max-width: 768px) {
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:#fff;
    }
    
    .push-canvas {
//        -webkit-transition: all .20s ease-out;
//        -moz-transition: all .20s ease-out;
//        -o-transition: all .20s ease-out;
//        transition: all .20s ease-out;
        
        
            -webkit-transition: all .20s ease-out;
            -moz-transition: all .20s ease-out, font-size 0s;
            -ms-transition: all .20s ease-out, font-size 0s;
            -o-transition: all .20s ease-out, font-size 0s;
            transition: all .20s ease-out;
             transition-property:left, right, display;
               -webkit-transition-property:left, right, display;
        

        overflow-x: hidden;
        position: relative;
        left: 0;
    }
    
    .push-canvas.pushed-left {
        left: -100%;
    }
    
    .push-canvas.pushed-right {
        left: 100%;
    }
    
    .navbar-push {
//        -webkit-transition: all .20s ease-out;
//        -moz-transition: all .20s ease-out;
//        -o-transition: all .20s ease-out;
//        transition: all .20s ease-out;
        
        -webkit-transition: all .20s ease-out;
            -moz-transition: all .20s ease-out, font-size 0s;
            -ms-transition: all .20s ease-out, font-size 0s;
            -o-transition: all .20s ease-out, font-size 0s;
            transition: all .20s ease-out;
        
             transition-property:all;
               -webkit-transition-property:all;

        height: 100%;
        position: fixed;
        overflow-y:hidden;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        width: 100%;
        top: 0;
           background-color: $crest-green;  
    }
    
    .navbar-push.navbar-push-left {
        right: -100%;
    }
    
    .navbar-push.navbar-push-right {
        left: -100%;
    }
    
    .navbar-push.navbar-push-right.in {
        left: 0;
    }
    
    .navbar-push.navbar-push-left.in {
        right: 0;
    }
    
    
    
    .navbar-nav li a {
        text-align: center;
        color:#fff;
    }

      .navbar-default .navbar-toggle {
        border-radius: 0px;
        height: 78px;
        width: 78px;
        background-color: $crest-green;
        border: 0px;
        margin: 0px;
        padding: 1px 26px;
        position: absolute;
        right: 0px;


      //  @include transition($transition200);
        &:hover, &:focus {
             background-color: $crest-green;
//            -webkit-filter:brightness(1.1);
//            -moz-filter:brightness(1.1);
//            filter: brightness(1.1)
        }
          
          .icon-bar {
            background-color: #fff;
              width: 26px;
                height: 3px;
                border-radius: 0px;
          }
    }
   
}

body.page-template-front-page .nabar-fixed-top {
     border-bottom:0px !important;
     border:0px !important;
     border-width: 23px;   
}

body.mobile {
      .navbar-push {
     overflow-y:auto;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
      }
}

body.pushed-left {
    overflow: hidden;
}
