
.tac { text-align: center;}
.tar { text-align: right;}
.tal { text-align: left;}

.clear { clear: both;}

/* INCREASE CONTAINER WIDTH AT 1400 PX + */
/*
.container {
	@media screen and (min-width: 1400px) {
		width: $fixed-w-xl;
	}
}
*/

.container {
    width: 100%;
    &.nomargin {
        padding-left: 0 !important;
        padding-right: 0 !important;
        
        .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
            [class*="col-"] {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
            
        }
    }
}


.container .marquee-margin > .row {
      @include respond-to($screen-sm) {
           margin-left: 10px !important;
          }
}

.container.home-marquee {
     .row.margin-fix {
       //margin-left: 0px !important;
          @include respond-to($screen-sm) {
            margin-right: 10px !important;
          }
     }
}

.with-gutter {
      padding-left: $margins-mobile;
      padding-right: $margins-mobile;
    
    @include respond-to($screen-sm) {
        padding-left: $margins-main;
        padding-right:$margins-main;
        max-width: 1500px - $margins-main;
        max-width: 1500px - $margins-main;
    }
    
    }



.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* BOOTSTRAP NO-GUTTER */
.nopad {
  padding: 0px !important;
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
}



.wow {visibility: hidden;}

/* MOBILE DEVICE SPECIFIC
---------------------------- */
	body.mobile{
		.wow {visibility: visible;}
	}

/* CREATES NEW BOOTSTRAP EXTRA EXTRA SMALL CLASSES */
@media only screen and (max-width: 600px) {
	 @include make-grid(xxs);
}
